    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Konglish hai d meh? (What is Konglish)</h2>
              <h3>  Kongish – A new chatting language among HK teens</h3>
              <br/>
                <p>

Kongish is a mix written language of English and Chinese, but seems to be little different from Chinglish. Except using informal English, one dominant element is the use of English pinyin of Cantonese. Kongish is commonly seen in daily conversations of HK teenagers, through Whatsapp, Facebook, Instagram and so on. HK teens want efficiency, and don’t want switch between English and Chinese typing too frequently. On the other hand, some teenagers are influenced by their peers, and are willing to obtain self-identity in their social groups. Then, Kongish is born in a small and vivid city.
                </p>
                <br/>
              </div>
        </div>
    </section>
