<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            	<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <!-- <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">There are some facts that you may need to know beforehand...</h4>
        </div>
        <div class="modal-body">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/s4kVLpCAgHY?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Header -->
	<div class="intro-header">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-lg-6">
          <div class="showcase">
            <!-- <img class="iphone6" src="../img/iphone6_spacegrey_portrait.png" alt="" /> -->
            <img class="iphone6" src="../img/iphone6_gold_portrait_bg.png" alt="" />
            <iframe class="delayed kongish-video" width="260" height="453" src="https://www.youtube.com/embed/cKT4UGwLwBU" frameborder="0"></iframe>
          </div>
				</div>
        <div class="col-sm-6 col-lg-6">
          <div class="content">

            <h2 class="bubble">Kongish - Ngo dei mui yat dou yung ge language.</h2>

            <h3 class="bubble-white">Watch ha jor bin. Is it similar to your daily online conversations???</h3>

            <div class="bubble" style="height:120px;">
              Group 14
              <br>
              Leung Pui Kit, Happy
              <br>
              Cheng Kok Hang, Sam
              <br>
              Wong Fai Yeung, Godfrey
              <br>
              Lau Ka Wai, Jesley
              <br>
            </div >
          </div>
        </div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
