<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<script type="text/javascript">
    $(window).load(function(){
        $('.modal').modal('show');
    });

    $(document).ready(function(){
      setTimeout(function() {
      $('iframe.delayed').attr('src',
                                   $('iframe.delayed').attr('data-src'));
  }, 38000);
});
</script>
